<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bad+Script|Gloria+Hallelujah|Monoton|Righteous' rel='stylesheet' type='text/css'>

   <div class="header-content">
     <p>4 Ans, 5 mois, 12 jours,</p>
     <p>1 heure et 19 minutes.</p>
   </div>

<img src="http://img15.hostingpics.net/pics/660172jujuetmoi.jpg" id="img-profil">

  <div class="container">
     <p> Bonjour toi!</p> <p>Il est temps pour moi de t'écrire un petit quelque chose en cette période de blocus (ce que j'aurais dû faire depuis longtemps). Mon petit ange au sourire d'ananas, cela fait maintenant 4 Ans, 5 mois, 12 jours, 1 heure et 25 minutes que tu t'es faufilé dans ma vie, ma tête et mon cœur. Autant de temps que l'on se connait et où au fil duquel on a pu apprendre à vraiment se découvrir. Je ne dirais qu'une chose, je ne regrette rien. Je dirais même que je suis heureux que toi, ma craquante copine, sois toujours là pour me supporter malgré mes bêtises continues. Tu as sû apprécier et aimer chez moi, ce que d'autres auraient pu détester, tu m'acceptes comme je suis et par-dessus tout tu es quelqu'un avec beaucoup de gentillesse. C'est ce que j'aime chez toi. Même si parfois on peut se disputer, se lancer des objets (tmtc CONASSE) et se faire la tête, on fini toujours pas se retrouver.</p>
    <p>J'aimerais que tu saches que Je t'aime Juju Ik Koop Een Brood et que tu es l'une des plus belles choses qui me sois arrivé jusque maintenant. Je ne sais pas si tu m'aimeras encore dans 1, 2, 5, ou 30 ans, peu m'importe, tant que j'aurais eu la chance d'être ton loulou d'amour.</p>
    <p>Je voulais aussi te dire que je suis désolé et parfois je m'en veux un peu de ne pas pouvoir t'offrir certaines choses, mais cela changera. Même si je n'ai pour le moment que mon amour à t'offrir, je compte bien un jour te gâter et te faire faire des choses que tu aurais bien aimé que l'on fasse il y a longtemps déjà. Patience ma cacahuète, un jour viendra où l'on y ira aux Bahamas hahahaha.</p>
    <p>J'espère que tu apprécieras ces quelques mots maladroits et que surtout tu les comprendras.</p>
    <p>Voilà un peu ce que je ressens pour toi, <a href="http://www.youtube.com/watch?v=1gTGmbA40ZQ">clique</a> et écoutes (JUSQU'AU BOUT s'il te plait :)).</p>

    <p>Je t'aime bien delà des étoiles, ne l'oublies jamais.</p>
     <p style="text-align:right">Alex, ton copain.</p>
     </div>

<div class="social">
  
  </div>

